@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
.btn{
    width: 180px;
    height: 55px;
    font-family: Inter;
    background-color: transparent;
    border: solid 2px #000000;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    font-size: 32px;

}