* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containall{
    position: absolute;
    display: block;
    justify-content: flex-start;
    align-items: center;
    width: fit-content;
    height: fit-content;
    top: 730px;
    left: 950px;
}
.forallthree {
    display: flex;
    width: fit-content;
    height: fit-content;
    align-items: flex-end;
    justify-content: flex-end;
    :first-child{
        position: absolute;
    }
    svg {
        position: absolute;
    }
}