* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    .firstbuttons {
        display: flex;
    }
}