* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    width: fit-content;
    height: fit-content;
}
.fullpage {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.hder {
    position: absolute;
    width: 100%;
    padding: 51px;
}
.abs {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 98dvw;
    height: 94dvh;
}
.fter {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 90dvw;
    // padding: 51px;
    bottom: -150px;
    left: 51px;
}